@model AuraAndTheChamberOfSecrets.ViewModels.Question.DetailViewModel

@{
    ViewData["Title"] = "Question Detail";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="~/js/markdown.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h5>@Model.Question.Title</h5>
            <div class="bg-light p-3">@Html.Raw(Model.Question.QuestionText)</div>
            <p>@Model.Question.User.Username</p>
        </div>
    </div>
    <hr />
    <h4>Answers</h4>
    @foreach (var answer in Model.Question.Answers)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-light p-3">@Html.Raw(answer.AnswerText)</div>
                <p>@answer.User.Username</p>
            </div>
        </div>
    }
    <hr />
    <div class="row mb-5">
        <div class="col-sm-12">
            <form asp-action="Detail" method="post" class="form">
                <div class="form-group">
                    <label asp-for="NewAnswer"></label>
                    <textarea asp-for="NewAnswer" class="form-control"></textarea>
                    <span asp-validation-for="NewAnswer" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit Answer</button>
            </form>
        </div>
    </div>
</div>
